<%- include('../partials/header'); %>
  <body>
    <div class="container">
      <h1>Toutes laches </h1>
      <% if(messages.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= messages.error %>
        </div>
      <% } %>
      <% if(messages.success) { %>
        <div class="alert alert-success" role="alert">
          <%= messages.success %>
        </div>
      <% } %>
      
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills w-100">
            <li class="nav-link">Listes</li>
            <li class="nav-link ml-auto">
              <a href="tasks/add" class="nav-link active">ajouté une liste</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <% if(data.length) { %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
        <tbody>
          <% data.forEach(function(tasks) { %>
          <tr>
            <td><%= tasks.id %></td>
            <td><%= tasks.name %></td>
            <td><%= tasks.description %></td>
            <td><%= tasks.status%></td>
            <td><%= tasks.liste%></td>
            <td>
              <a href="tasks/edit/<%= tasks.id %>" class="btn btn-primary">Editer</a>
              <a href="tasks/delete/<%= tasks.id %>" onclick="return confirm('Are you sure ?');" class="btn btn-danger">Supprimer</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
         <% } %>
      </table>  
      <% if(!data.length) { %>

        <div class="alert alert-info">
          <strong>Info!</strong> Aucune liste pour le moment.
        </div>
        
        
      <% } %>

      </div>
    </div>
  </body>
</html>
